* {
	font-family:Helvetica;
}

@mixin calc($property, $expression) { 
  	#{$property}: -moz-calc(#{$expression}); 
  	#{$property}: -o-calc(#{$expression}); 
  	#{$property}: -webkit-calc(#{$expression}); 
  	#{$property}: calc(#{$expression}); 
} 

.sidebar {
	float: left;
	height: 100%;
	width: 160px;
}

.main {
	float: left;
	@include calc(width, "100% - 200px");
	padding: 10px 20px 10px 20px
}

.header {
	height: 75px;
}

.body {
	float: left;
}

.footer {
	float: left;
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-top: 2px;
}

ul.nav {
	float: right;
  	list-style: none;
  	margin: 0 0 2em;
  	padding: 0;
  	font-size: 12px;
}
ul.nav li {
  	display: inline;
}

.links {   	
	text-decoration: none;
}

.search {   	
	float: right;
	margin-right: -98px;
}

.centre {
   width: 386px;
   height: 400px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -193px;
   margin-top: -200px;
}

.searchSplashPage {
	width:252px;
	height: 25px;
	border-radius: 5px;
	background: #EBEBEB;
	margin-left: 55px;
	padding:10px 10px 10px 10px;
}

#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.sidelinks{
	list-style-type: none;
}

td
{
border-bottom:1px solid black;
}

.firstcolumn
{
	width: 500px;
}
.secondcolumn{
	width: 120px;
}
.thirdcolumn{
	width: 50px;
}
.fourthcolumn{
	width: 50px;
}