<%= link_to (image_tag("/lourve_small.png")), pages_path %>

<%# @pages.each do |page| %>
<%#<ul class = 'sidelinks'>
	<li>
		<%= link_to page.title, page, :class => 'links' %>
<%#	</li>
</ul>
<%# end %>